$desktop: 1150px;

$tablet-above: 769px;
$tablet: 768px;

$mobile-above: 601px;
$mobile: 600px;

@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin tablet-above {
    @media (min-width: $tablet-above) {
        @content;
    }
}



@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin mobile-above {
    @media (min-width: $mobile-above) {
        @content;
    }
}

