.header{
    padding: 30px 0;
    .header__link{
        margin-right: 50px;
        display: flex;
        align-items: center;
    }   
    .header__inner{
        display: flex;
        .header__mobile-menu{
            display: block;
            margin-right: 11px;
            &:hover{
                cursor: pointer;
            }
        }
        .header__form{
            margin-right: 25px;
            @include desktop{
                flex-grow: 1;
            }
            @include mobile{
                margin-right: 0;
            }
            .header__search{
                display: flex;
                align-items: center;
                position: relative;
                .header__search-img{
                    position: absolute; 
                    left: 20px;
                    width: 26px;
                    height: 26px;
                }
                .header__search-input{
                    &:hover{
                        border-color: rgb(135, 135, 135);
                    }
                    &:focus{
                        outline-color:  rgb(135, 135, 135);
                    }
                    width: 469px;
                    height: 46px;
                    border-radius: 100px;
                    border: 2px solid rgba(221, 221, 221, 1);
                    padding-left: 50px;
                    font-family: "RobotoRegular";
                    @extend .regular-text--m;
                    @include desktop{
                        width: 100%;
                        flex-grow: 1;
                    }
                    @include mobile{
                        height: 38px;
                    }
                    &::placeholder{
                        font-family: "RobotoRegular";
                        color: rgba(141, 141, 141, 1);
                        @extend .regular-text--m;
                    }
                }
            }
        }
    }
    .header__nav-catalog{
        display: flex;
        padding-top: 30px;
        position: relative;
        align-items: center;
        .header__nav-inner{
            display: flex;
            align-items: center;
            overflow: hidden;
            @include desktop {
                overflow: scroll;
            }
        }
        .header__catalog-link{
            display: flex;
            align-items: center;
            flex-direction: row;
            min-width: fit-content;
            &:not(:last-child){
                margin-right: 35px;
                @include mobile{
                    margin-right: 18px;
                }
            }
            .header__catalog-img{
                width: 18px;
                height: 18px;
                margin-right: 5px;
            }
        }
        .header__nav-button{
            position: absolute;
            right: -2px;
            width: 18px;
            height: 18px;
            border: 1px solid rgba(141, 141, 141, 1);
            background: rgba(255, 255, 255, 1);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}