.mobile-overlay{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    display: block;
    transition: all 0.3s linear;
    visibility: hidden;
    border: unset;
    opacity: 0;
    &[open]{
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }
    // padding: 0 10px;
    &:modal{
        max-width: 100%;
        max-height: 100%;
    }
    .mobile__inner{
        margin-top: 18px;
        height: 100%;
        &-header{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .mobile-overlay__close-btn{
                background: none;
                border: none;
                margin-right: 10px;
                &::before, &::after{
                    content: '';
                    position: absolute;
                    width: 18px;
                    height: 2px;
                    background: rgba(141, 141, 141, 1);
                    top: 26px;
                    right: 10px;
                    border-radius: 5px;
                }
                &::after{
                    transform: rotate(-45deg);
                }
                &::before{
                    transform: rotate(45deg);
                }
                width: 18px;
                height: 18px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        &-body{
            height: 100%;
            .mobile__inner-title{
                margin: 12px 0 18px 0;
                margin-left: 10px;
            }
            .mobile__catalog{
                display: flex;
                flex-direction: column;
                align-items: center;
                .mobile__catalog-item{
                    width: 100%;
                    height: 48px;
                    display: flex;
                    align-items: center; 
                    &:not(:last-child){
                        border-bottom: 2px solid rgba(232, 232, 232, 1)
                    }
                    .mobile__item-inner{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        padding: 8px 10px;
                        .mobile__inner-left{
                            display: flex;
                            align-items: center;
                            .mobile__inner-img{
                                width: 32px;
                                aspect-ratio: 1;
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}